.title-slide {
  background-image: url(Figures/asq.png);
  background-size: cover;
}

.title-slide h1 {
  color: black;
  font-size: 340%;
  text-shadow: 0 0 0px #333;
}

.title-slide h2 {
  color: black;
  font-size: 120%;
  text-shadow: 0 0 0px #333;
}

.title-slide h3 {
  color: black;
  font-size: 120%;
  text-shadow: 0 0 0px #333;
}

@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

.remark-code, .remark-inline-code { font-family: 'PT Mono'; }
